body {
    background:url(../images/trees.png);
    margin:0;
    height:100%;
}

#footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    padding-bottom:0px;
}

#infoDiv {
    background-color: rgb(255,255,255,0.5);
    color: black;
    margin-top: 30px;
    width: 50%;
    margin-left: 300px;
}

.infoFont {
    /* font-size: 15px; */
    /* margin:30px; */
}

#name {
    font-family: Brush Script MT, Brush Script Std, cursive
}

.nav-link:link {
    color: black;
}

.nav-link:hover {
    color: red;
}

.nav-link:visited {
    color: blue;
}