body {
    background:url(../images/trees.png);
    margin:0;
    height:100%;
}


#footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    padding-bottom:0px;
}

#name {
    font-family: Brush Script MT, Brush Script Std, cursive
}